<div class="container">
    <h2>Organizers</h2>
    <ul>
      <li><a href="http://www.staff.amu.edu.pl/~banaszak/">Grzegorz Banaszak</a> UAM Poznań</li>
      <li><a href="http://www.staff.amu.edu.pl/~stefbar/">Stefan Barańczuk</a> UAM Poznań</li>
      <li><a href="http://piotrkrasonmath.com/">Piotr Krasoń</a> University of Szczecin</li>
      <li><a >Jan Milewski</a> Poznań University of Technology</li>
      <li><a >Przemysław Waliszewski</a> Department of Urology, Lahn-Dill Clinics, Dillenburg</li>
    </ul>
</div>
