<div class="container d-flex flex-column">
  <div class="row">
    <h2>Welcome</h2>
    <p>The conference arrival day is August 5, 2018 and the departure day is August 11, 2018. The conference starts with the registration of participants on Sunday, August 5th at the registration desk. The conference ends on Saturday, August 11th. The lectures start on Monday, August 6th and end on Friday August 10th. <a href="http://ammpb.wmi.amu.edu.pl/" target="_blank">The first conference</a> was in 2014.
    </p>
  </div>
</div>
