<div class="container d-flex flex-column offset-lg-1 col-lg-10">
  <h2>Travel</h2>
  <p>The <a href="http://www.impan.pl/EN/Bedlewo/index.html" target="_blank">Banach International Center in Będlewo</a> is located approx. 26 km south of Poznań. The city of Poznań is located in the Western Poland and can be easily reached by plane, train or car from various places in Europe.</p>

  <h3>How to get to Będlewo from Poznań:</h3>
  <p>See the <a href="http://www.impan.pl/EN/Bedlewo/how2get.html" target="_blank">Banach Center web page</a> for information.</p>

  <h3>How to get to Poznań:</h3>
  <h4>By Plane</h4>
  <ul>
    <li>Fly directly to Poznań to the international Poznań Airport Ławica. See the airport <a href="http://www.airport-poznan.com.pl/en/" target="_blank">web page</a>.</li>
    <li>You can also arrive at the <a href="http://www.lotnisko-chopina.pl/en/index.html" target="_blank">Warsaw Frederic Chopin Airport</a> which has connections with all major airports in Europe and many in the USA and Canada. The National Polish Airlines LOT is a part of the Star-Alliance. From Warsaw take a plane to Poznań. The domestic terminal in Warsaw is located next to the international one.</li>
  </ul>

  <h4>By Train</h4>
  <p>Poznań is located halfway between Berlin and Warsaw and can be reached by train from either city via a direct train connection.</p>
  <h4>Via Warsaw</h4>
  <p>Arriving by plane at Warsaw <i>Frederic Chopin Airport</i> take a taxi or a bus to the Warsaw central railway station Warszawa Centralna. Please see the information about <a href="http://www.lotnisko-chopina.pl/en/public-transport.html">taxi and bus serving the airport</a>.</p>


  <p>There are several direct trains each day between Warsaw and Poznań. We recommend that you take either IC (Inter City, no stops) or EC (Euro City, express train). Travel takes less than 3 hours. One can expect in most trains a restaurant car or/and mini-bar services. See <a href="http://rozklad-pkp.pl/en" target="_blank">detailed schedule</a>.</p>


  <h4>Via Berlin</h4>
  <p>There are two airports in Berlin: Tegel TXL and Schoenefeld SXF. The major international airport is Tegel, and it has many connections to various cities. The most convenient and cost effective way to get to and from the Tegel airport is by bus. Buses connect Tegel with the subway and overground train stations. Taxis are readily available outside the airport terminal, they take around 20 minutes to the city centre. From Schoenefeld there is a train connection "AirportExpress" to the Hauptbahnhof in the city centre (about 30 minutes). There are a few direct EC-trains per day from Berlin Hauptbahnhof to Poznań. The travel takes approximately 3 hours. Please note that it is advisable to avoid non-direct train connections. Refer to the <a href="http://reiseauskunft.bahn.de/bin/query.exe/en" target="_blank">train schedule between Berlin and Poznań</a>.</p>

  <h3>By Car</h3>

  <p>In order to reach Poznań from the West, you can go via Polish-German border in Świecko-Frankfurt/Oder crossing point and then drive directly to Poznań on highway A2.</p>

  <p>Use any web browser to find the road map <a href="https://www.google.pl/maps/place/Pa%C5%82ac+B%C4%99dlewo+O%C5%9Brodek+Badawczo-Konferencyjny+IM+PAN/@52.2358096,16.7293776,17z/data=!3m1!4b1!4m2!3m1!1s0x47044cf042529bcf:0xc574e13fa29b7498" target="_blank"> from Poznań to Będlewo</a>.</p>
</div>
