<div class="container">
    <h2>Scientific committee</h2>
    <ul class="">
      <li><a href="http://www.staff.amu.edu.pl/~banaszak/">Grzegorz Banaszak</a> Adam Mickiewicz University, Poznań, Poland</li>
      <li><a>Stefan Barańczuk </a> Adam Mickiewicz University, Poznań, Poland</li>
      <li><a>Radu Dobrescu </a> Politehnica Bucharesti, Romania</li>
      <li><a href="http://piotrkrasonmath.com/" target="_blank">Piotr Krasoń</a> Szczecin University, Poland</li>
      <li><a >Reinhard Laubenbacher</a> University of Connecticut, USA</li>
      <li><a >Jan Milewski</a> Poznań University of Technology, Poland</li>
      <li><a >Przemysław Waliszewski</a> Department of Urology, Lahn-Dill Clinics, Dillenburg, Germany</li>
      <li><a>Bruce West</a> US Army Research Laboratory, USA</li>
    </ul>
</div>
