<div class="d-flex flex-column offset-lg-1 col-lg-10">
  <h2>Paying via bank transfer</h2>
  <p>To pay the conference fee and the accommodation costs via bank transfer use the following bank accounts (remember to put on the bank transfer form your name and the name of the conference: Arithmetic Methods in Mathematical Physics and Biology, Będlewo 05-11.08.2018):</p>

  <h4>The accounts' owner:</h4>
  <p>Instytut Matematyczny PAN, Warszawa, Sniadeckich&nbsp;8</p>
  <h4>Bank address:</h4>
  <p>Bank Gospodarstwa Krajowego, Aleje Jerozolimskie&nbsp;7, <span class="blok">00-955&nbsp;Warszawa</span></p>
  <h4>Paying in US dollars use the account number:</h4>
  <p>BIC/SWIFT: GOSKPLPW: <br/><span style="font-family:monospace" class="bankAccount">PL 37 1130 1017 0020 1467 1520 0006</span></p>
  <h4>Paying in Euro use the account number:</h4>
  <p>BIC/SWIFT: GOSKPLPW  <br/> <span style="font-family:monospace" class="bankAccount"> PL 80 1130 1017 0020 1467 1520 0008</span></p>
  <h4>Paying in Polish Zloty use the account number:</h4>
  <span style="font-family:monospace" class="bankAccount">48 1130 1017 0020 1467 1520 0002</span>
</div>
