<div class="container">
  <div class="row">
    <h2>Aims and scope of the conference</h2>
    <p>
      The conference aims to present recent applications of: Algebraic Number Theory, Arithmetic and Algebraic Geometry, Fractal Geometry, Nonlinear Dynamic Systems, Cellular Automata, Graph Theory and Cryptography to Mathematical Physics and Biophysics, Nonlinear Biology, and Complexity in Biology and Physics and to foster research and cooperation between scientists representing various areas of natural sciences based on the applications of both arithmetic and algebraic methods.
    </p>
  </div>
</div>
